<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title>CRMS</title>
        {% endblock %}
    </head>
    <body>
      
        <!-- Your page content -->
        {% block content %}
        <div class="p-2 text-center bg-light">
          <h1>Cloud Robotics Management System</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light pt-1">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Terminal <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="control.html">Control</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="connection.html">Connection</a>
              </li>
            </ul>
        </nav>
         
        <div class="container">
	  <div class="card mt-2">
	    <div class="card-header">
	      Connect
	    </div>
	    <div class="card-body">
	      <form action="/connect/" method="post">
		<div class="form-group">
		  <label>IP address</label>
		  <input type="text" name="connection_ip" class="form-control" placeholder="Enter IP">
		</div>
		<div class="form-group">
		  <label>Port</label>
		  <input type="text" name="connection_port" class="form-control" placeholder="Enter port">
		</div>
		<button type="submit" class="btn btn-primary">Connect</button>
		{% if connection %}
		{% if "success"==connection[:7] %}
		<div class="alert alert-success alert-dismissible mt-2">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Successfully connected to {{connection[7:]}}</strong>
		</div>
		{% else %}
		<div class="alert alert-danger alert-dismissible mt-2">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Failure to connect</strong>
		</div>
		{% endif %}
		{% endif %}
	      </form>
	    </div>
	  </div>

	  <form action="/list-connections/" method="post">
	    <div class="card mt-2">
	      <div class="card-header">
		<div class="mt-2 d-inline-block">
		  Current connections
		</div>
		<button type="submit" class="btn btn-primary float-right">Refresh</button>
	      </div>

	      <div class="card-body">
		{% if list_connections %}
		<ul class="list-group">
		  {% for conn in list_connections %}
		  <li class="list-group-item">
		    <div class="mt-2 d-inline-block">
		      {{ conn[1] }}
		    </div>
		    <button type="submit" name="remove" class="btn btn-outline-danger float-right">Remove</button>
		  </li>
		  {% endfor %}
		</ul>
		{% endif %}
	      </div>
	    </div>
	  </form>
	</div>        
	{% endblock %}
    </body>
</html>
