<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title>CRMS</title>
        {% endblock %}
    </head>
    <body>
      
        <!-- Your page content -->
        {% block content %}
        <div class="p-2 text-center bg-light">
          <h1>Cloud Robotics Management System</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light pt-1">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Terminal <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="control.html">Control</a>
              </li>
            </ul>
        </nav>
         
        <div class="container">
          <div class="dropdown text-center mt-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="card mt-2" style="height: 600px;">
                <div class="card-header">
                  Server Terminal
                </div>   
                <div class="card-body">
                  <form action="/server/" method="post">
                    <div class="form-group">
                      <label>Output</label>
                      <textarea readonly class="form-control" id="output_server" rows="9"></textarea>
                      <label>Input</label>
                      <textarea class="form-control" id="input_server" name="input_server" rows="2"></textarea>
                    </div>
                    <button type=submit class="btn btn-primary">Run</button>
                  </div>
                  </form>
                </div>
            </div>
            <div class="col-sm-6">
              <div class="card mt-2" style="height: 600px;">
                <div class="card-header">
                  Machine Terminal
                </div>              
                <div class="card-body">
                  <form action="/machine/" method="post">
                    <div class="form-group">
                      <label>Output</label>
                      <textarea readonly class="form-control" id="output_machine" rows="9"></textarea>
                      <label>Input</label>
                      <textarea class="form-control" id="input_machine" name="input_machine" rows="2"></textarea>
                    </div>
                    <button type=submit class="btn btn-primary">Run</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        
       {% endblock %}
    </body>
</html>
