/* Color palette: https://en.wikipedia.org/wiki/Solarized_(color_scheme) */
/* Media Queries: Tablet Landscape */

@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

body {
    background: #fdf6e3;
    font-family: "B612";
    color: white;
}

header {
    color: black;
    font-family: "Roboto";
    margin: 10px;
}

h2{
    padding-top: 10px;
    margin: 10px;
    text-decoration: underline;
}

.machines, .settings, .terminal {
    height: 22em;
    margin: 10px;
    border-radius: 10px;
    overflow: auto;
    background: #268bd2;
}

.machine_list {
    list-style-type: none;
    padding-top: 10px;
    font-size: 1.15em;
    text-decoration: none;
}

textarea {
    margin: 10px;
    width: 600px;
    height: 200px;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.menu {
    height: 50px;
    margin: 10px;
}

.menu_btn {
    width:50%;
    background: #2aa198;
    display: block;
    float: left;
    height: 100%;
    font-family: "B612";
    font-size: 1.5em;
    color: white;
    padding: 1;
    border-radius: 10px;
}

.menu_btn:hover {
    background: #1d706a;
}
