<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Robotics Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/design.css') }}">
  </head>
  <header>
    <h1>CLOUD ROBOTICS MANAGEMENT</h1>
  </header>
  <body>
    <div class="menu">
      <input class="menu_btn" type="button" onclick="window.location.href='index.html';" value="SETTINGS" />
      <input class="menu_btn" type="button" onclick="window.location.href='monitor.html';" value="MONITOR" />
    </div>
    <div class="machines">
      <h2>Select Machines</h2>
      <!-- Python interaction to view connected machines -->
      <ul class="machine_list">
	<li>
	<label for="machine1">Machine 1</label>
	<input type="checkbox" id="html" name="machine1" value="machine1">
	<label for="machine1">Machine 2</label>
	<input type="checkbox" id="html" name="machine1" value="machine1">
	<label for="machine1">Machine 3</label>
	<input type="checkbox" id="html" name="machine1" value="machine1">
	<label for="machine1">Machine 4</label>
	<input type="checkbox" id="html" name="machine1" value="machine1">
	<label for="machine1">Machine 5</label>
	<input type="checkbox" id="html" name="machine1" value="machine1">
	</li>
      </div>
    </div>
    <div class="settings">
      <h2>Settings</h2>
      
      <!-- View current settings on a machine or select new settings, for one or multiple machines -->
    </div>
    <div class="terminal">
      <h2>Terminal</h2>
      <!-- Be able to interact with server or send ROS commands -->
      <textarea class="terminal_input"></textarea>
      <button name="run_terminal">Run</button>
      <textarea class="terminal_output"></textarea>
    </div>
  </body>
</html>
